= form_for @logs, url: {controller: "logs", action: "create"} do |f|
  = f.label :text
  = f.text_field :text, :class => "form-control", :placeholder => "Add your log here"
  = f.submit "Submit", :class => "btn btn-primary"